@charset "UTF-8";

body {
	padding-top: 10px;
}

.error {
	color: red;
}

.success {
	color: green;
}

.border {
	padding : 15px;
	border: 1px solid black;
	border-radius: 10px;
}

.black {
	color: black;
}

hr {
	border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

th, td {
	text-align: center;
}