<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  <filter>
    <filter-name>SetCharacterEncoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>CandidateCreateServlet</servlet-name>
    <servlet-class>servlets.CandidateCreateServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateCreateServlet</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CandidateUpdateServlet</servlet-name>
    <servlet-class>servlets.CandidateUpdateServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateUpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CandidateDeleteServlet</servlet-name>
    <servlet-class>servlets.CandidateDeleteServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateDeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ListCandidatesServlet</servlet-name>
    <servlet-class>servlets.ListCandidatesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCandidatesServlet</servlet-name>
    <url-pattern>/candidates</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GenerateLettersOfDayServlet</servlet-name>
    <servlet-class>servlets.GenerateLettersOfDayServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateLettersOfDayServlet</servlet-name>
    <url-pattern>/generate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>servlets.DownloadServlet</servlet-class>
    <init-param>
        <param-name>path</param-name> 
        <param-value>/home/stevenliatti/Bureau/Candidacies</param-value> 
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AutoCompleteServlet</servlet-name>
    <servlet-class>servlets.AutoCompleteServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCompleteServlet</servlet-name>
    <url-pattern>/autocomplete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StatsServlet</servlet-name>
    <servlet-class>servlets.StatsServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatsServlet</servlet-name>
    <url-pattern>/stats</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AnswerCreateServlet</servlet-name>
    <servlet-class>servlets.AnswerCreateServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerCreateServlet</servlet-name>
    <url-pattern>/admin/createAnswer</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AnswerUpdateServlet</servlet-name>
    <servlet-class>servlets.AnswerUpdateServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerUpdateServlet</servlet-name>
    <url-pattern>/admin/updateAnswer</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ListAnswersServlet</servlet-name>
    <servlet-class>servlets.ListAnswersServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAnswersServlet</servlet-name>
    <url-pattern>/admin/answers</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>config.InitDAOFactory</listener-class>
  </listener>
</web-app>